*{
    box-sizing: border-box;
    font-family: 'Source Serif 4', sans-serif;
}

/* This sets the font size default to 10px */
html {
    font-size: 62.5%;
}

/* Styling the nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bdc3c7;
    min-height: 10vh;
    font-size: 2rem;
    color: #2980b9;
}

/* styling anchor links in nav bar */
nav a{
    text-decoration: none;
    padding: 1.5rem;
    font-weight: 800;
}
/* giving the links a cool shadow effect */
nav a:hover{
    text-shadow: 2px 2px 5px #2980b9;

}

/* making the links horizontal */
.nav-links li {
    display: inline;
    
}

/* making my name bigger than the other links */
.name {
    font-size: 4rem;
    font-weight: 1000;
}

main{
    display: flex;
    background-color: #ecf0f1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* styling the div */
.container {
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
}

/* styling my portrait */
.project-img {
    border: 5px solid yellow;
  max-width: 50rem;
  max-height: 50rem;
  border-radius: 15rem;
  margin: 7rem;
}

/* styling the headers for each section */
.project-info h2 {
    text-align: left;
    font-size: 3rem;
    padding: 1.5rem;
    margin-top:2rem;
}

/* styling the card container */
.card {
    border: 5px solid #34495e;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding: 1.5rem 2.5rem;
    text-align: center;
    /* flex: 0 0 40rem; */
}

/* styling the card image */
.card img{
    display: flex;
    border: 5px solid blue;
    width: 100%;
    max-height: 40rem;
    max-width: 30rem; 
    border-radius: 5rem;
    align-self: center;
}

/* styling the card text */
.card h3 {
    display: block;
    font-size: 2rem;
    margin-block-start: .83rem;
    margin-block-end: .83rem;
    text-align: center;
}

.card a {
    display: block;
    font-size: 2rem;
    margin-block-start: .83rem;
    margin-block-end: .83rem;
    text-align: center;
    text-decoration: none;
}

/* styling my paragraph text */
p {
    border: 5px solid red;
    display: flex;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    letter-spacing: .2rem;
    padding: 1rem;
}

#most-recent {
    max-height: 50rem;
    max-width: 40rem;
} 

/* navbar media query */
@media(max-width: 60rem){
    nav{
        flex-direction: column;
    }
}

/* media query for card layout */
/* HELP MEEEEEE!!!!! */
@media(min-width: 60rem){
    .card {
        flex-direction: row;
        justify-content: center;
    }
}